body {
  padding-top: 100px;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: darkslateblue;
  font-size: 20px;
}

h2 {
  font-size: 20px;
}

ul {
  padding: 0;
  writing-mode: horizontal-tb;
  text-align: center;
  list-style: none;
}

li {
  display: inline;
  margin: 0 15px;
}
a {
  text-decoration: none;
  font-size: 20px;
}
div {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
}

a:hover {
  text-decoration: underline;
}
.btn btn-outline-secondary {
  display: block;
  margin: 30px auto;
  width: 75%;
}
.precipitation {
  text-align: right;
  opacity: 50%;
}
.cityContent {
  opacity: 50%;
}
.actualReadings {
  font-size: 20px;
}
.fahrenheitt {
  color: blue;
}

.wrapper {
  max-width: 600px;
  padding: 15px 60px;
  margin: 0 auto;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  border-radius: 30px;
}
.author {
  text-align: center;
  font-size: 11px;
  opacity: 0.7;
  font-family: monospace;
}
